.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group
        グループ
      .main-chat__group-info__left-box__member
        メンバー：青木
    .main-chat__group-info__right-box
      = link_to "#" do
        Edit
  .main-chat__message
    .main-chat__message__log
      .main-chat__message__log__upload
        .main-chat__message__log__upload__name
          あおき
        .main-chat__message__log__upload__date
          1960-12-01
      .main-chat__message__log__comment
        ビケット
    .main-chat__message__log
      .main-chat__message__log__upload
        .main-chat__message__log__upload__name
          あおき
        .main-chat__message__log__upload__date
          2020-5-16
      .main-chat__message__log__comment
        喜介
  .main-chat__form
    .main-chat__form__flame
      .main-chat__form__flame__body
        %input.input-text{:placeholder => "type a message"}
        .main-chat__form__flame__body__img
          %label{class: "main-chat__form__flame__body__img__image"}
            = icon('fas', 'image')
            %input{type: "file"}
      .main-chat__form__flame__btn
        Send