.side-bar
  .side-bar__header
    .side-bar__header__name
      .side-bar__header__name__left
        青木祐介
      .side-bar__header__name__right
        = link_to "#" do
          %i.fa.fa-edit
          = link_to "#" do
            %i.fas.fa-cog
  .side-bar__group-list
    .side-bar__group-list__box
      .side-bar__group-list__box__name
        グループ名1
      .side-bar__group-list__box__message
        tech-camp
    
    .side-bar__group-list__box
      .side-bar__group-list__box__name
        グループ名2
      .side-bar__group-list__box__message
        tech-expert
